body {
  margin: 0;
  background: #f4ede5;
}
.dv {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 25%;
  left: 50%;
}
span {
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  display: block;
  animation: annimate 2s infinite ease-in-out;
}
.s1{
    background: #F3B222;
    animation-delay: 1.5s;
}
@keyframes annimate{
    0%{
        transform: translate(0); 
        border-radius: 50%;
    }
    75%{
        transform: translate(0%,150%); 
        border-radius: 0%;
    }
}